* {
    padding: 0;
    margin: 0;
  }

  body {
    position: relative;
    overflow: auto;
  }

  .bg-img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: 100% 100%;

  }

  .group-photo {
    width: 104px;
    height: 218px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url('/assets/group-photo.png');
    cursor: pointer;
  }


  .Header_wrapper__lbvH4 {
    mix-blend-mode: difference;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    position: relative;
    padding: 0 20px;
    top: 60px;

    mix-blend-mode: inherit !important;
    color: var(--color-black);
  }

  .logo-box {
    display: flex;
  }

  .logo-img {
    width: 346px;
    height: 94px;
    display: block;
    margin-right: 10px;
  }

  .count-down {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .count-down-txt {
    width: 100%;
    color: orange;
    font-size: 19px;
    font-weight: bold;
  }


  .count-down-num-val {
    font-size: 47px;
    font-weight: bold;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
  }

  .count-down-num-unit {
    font-size: 20px;
    font-weight: bold;
    color: orange;
  }

  .menu-icon-img {
    width: 37px;
  }

  .Home_number__exk11 {
    display: none;
  }

  .Home_title__ekoKl .Home_line__SbU8k {
    display: block;
    text-align: center;
    position: relative;
    color: #d93a14;
    font-size: 40px;
    font-weight: bolder;
    font-family: auto
  }


  .Home_vignette__n5o1O .Home_line__SbU8k {
    font-size: 20px;
    line-height: 27px;
    color: rgb(9, 102, 243);
  }

  .ImmersiveButton_ImmersiveButton__xBboF {
    width: 100%;
    position: fixed;
    left: 0;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }